{% extends "skel/index.html" %}

{% block title %}Alerta del Operador{% endblock %}

{% block content %}
    <h1>Detalle de Alerta para el Operador</h1>

    <div class="alerta">
        <div class="title">
            {{ alerta.mensaje }}
            -
            {{ job.enviado }}
        </div>
        <div class="posted">
            Posted: {{ job.pub_date|date:"d-M-Y" }}
        </div>
        <div class="description">
            {{ job.job_description }}
        </div>
    </div>
{% endblock %}